h2 Edit Document
p
  a.button(href='/documents')
    &larr; All Documents
form(method='post', action='/documents/' + d.id)
  input(name='d[id]', value=d.id, type='hidden')
  input(name='_method', value='PUT', type='hidden')
  !=partial('fields', { locals: { d: d } })

