#left.outline-view
  #DocumentTitles
    ul#document-list
      - for (var d in documents)
        li
          a(id='document-title-' + documents[d].id, href='/documents/' + documents[d].id)
            =documents[d].title

  ul.toolbar
    li
      a(href='/documents/new')
        +
    li
      a#delete-document(href='#')
        -

.content-divider

.content
  #editor-container
    textarea#editor(name='d[data]')

ul#controls.toolbar
  li
    a#save-button(href='#') Save
