!!!
html
  head
    title= 'Nodepad'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body
    - if (typeof currentUser !== 'undefined')
      p
        a(href='/sessions', class='destroy') Log Out
    != body
    script(type='text/javascript', src='/javascripts/application.js')
