body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div,
form {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  -moz-outline-style: none;
}
#header {
  width: 100%;
  height: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f6f6f6 url("/images/gradient.gif") repeat-x 50% 50%;
  border-bottom: 1px solid #999;
}
#header ul {
  list-style-type: none;
  padding: 8px;
}
#header h1 a {
  font-size: 18px;
}
#header ul li {
  float: left;
}
#header ul li.right {
  float: right;
}
#header a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  text-shadow: #f0f0f0 0 1px 0;
}
.outline-view {
  position: absolute;
  width: 250px;
  background-color: #dfe3ea;
}
#DocumentTitles {
  overflow: auto;
}
.outline-view ul li {
  margin: 0;
  padding: 0;
}
.outline-view ul a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 7px 10px;
}
.outline-view ul li.selected a {
  color: #fff;
  font-weight: bold;
  text-shadow: #666 0 1px 1px;
}
.outline-view ul .selected {
  font-weight: bold;
  color: #fff;
  background-color: #8897ba;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2bed7), to(#8897ba));
  background: -moz-linear-gradient(top, #b2bed7, #8897ba);
}
.outline-view ahover {
  background-color: #f0f0f0 !important;
}
.outline-view a {
  outline: none;
}
.content-divider {
  position: absolute;
  left: 250px;
  background-color: #999;
  width: 2px;
  margin: 0;
  padding: 0;
  cursor: e-resize;
  cursor: col-resize;
}
.content {
  position: absolute;
  left: 251px;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}
ul.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f6f6f6 url("/images/glass.png") repeat-x 50% 50%;
  height: 30px;
  border-top: 1px solid #c5c5c5;
  position: absolute;
  left: 0;
  bottom: 0;
}
ul.toolbar li {
  float: left;
  border-right: 1px solid #c5c5c5;
}
ul.toolbar li.right {
  float: right;
  border-left: 1px solid #c5c5c5;
}
ul.toolbar a {
  display: block;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #f5f4f5;
  color: #666;
  font-weight: bold !important;
  width: 14px;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
}
ul.toolbar a {
  text-shadow: #fff 0 1px 0;
  text-decoration: none;
}
ul.toolbar a:active {
  background-color: #666;
  color: #fff;
}
#editor-container {
  float: right;
  width: 100%;
}
#editor,
#editor-container input.title {
  border: none;
  outline: none;
  font-size: 108%;
  float: right;
  clear: both;
  border-bottom: 1px solid #999;
  margin: 0;
  width: 100%;
  padding: 5px 0;
}
#editor-container input:focus {
  background-color: #ffc;
}
#editor-container input.title {
  float: left;
  padding-left: 4px;
  margin-left: 1px;
}
#controls {
  position: absolute;
  left: 252px;
  bottom: 0;
  height: 30px;
  border-top: 1px solid #c5c5c5;
  background: #f6f6f6 url("/images/glass.png") repeat-x 50% 50%;
}
#controls a {
  font-size: 13px;
  width: 44px;
}
#html-container {
  padding: 10px;
  background-color: #f6f6f6;
  font-size: 110%;
}
#html-container p,
#html-container ul,
#html-container ol,
#html-container li,
#html-container h1,
#html-container h2,
#html-container h3,
#html-container h4,
#html-container h5,
#html-container h6 {
  margin: 10px 0;
}
#html-container li {
  margin-left: 20px;
}
#html-button.active {
  background-color: #dfe3ea;
}
.page {
  padding: 10px;
}
.page h2 {
  margin-bottom: 10px;
}
.page p {
  margin: 10px 0;
}
.flash {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  opacity: 0.75;
  background-color: #111;
}
.flash span {
  float: left;
  margin-right: 0.7em;
}
.flash .ui-corner-all {
  width: 300px;
  margin: 50px auto 0 auto;
  padding: 0 5px;
  opacity: 0.9;
  font-weight: bold;
  -moz-box-shadow: 0 0 8px #f6f6f6;
  -webkit-box-shadow: 0 0 8px #f6f6f6;
  box-shadow: 0 0 8px #f6f6f6;
}
form.users {
  background-color: #f0f0f0;
  border: 1px solid #999;
  float: left;
  padding: 0 10px 10px 10px;
}
form.users div {
  padding: 10px 0 0 0;
  float: left;
  clear: left;
}
form.users label {
  width: 140px;
  float: left;
  clear: right;
  color: #666;
  font-weight: bold;
}
form.users input[type=submit] {
  margin-left: 140px;
  clear: both;
}
form.search {
  margin-right: 10px;
}
#show-all {
  color: #999;
}
