body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div,
form {
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  height: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f6f6f6 url('/images/gradient.gif') repeat-x 50% 50%;
  border-bottom: 1px solid #999;
}
#header ul {
  list-style-type: none;
  padding: 8px;
}
#header h1 a {
  font-size: 18px;
}
#header ul li {
  float: left;
}
#header ul li.right {
  float: right;
}
#header a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  text-shadow: #f0f0f0 0 1px 0;
}
.outline-view {
  position: absolute;
  width: 250px;
  background-color: #dfe3ea;
}
#DocumentTitles {
  overflow: auto;
}
.outline-view ul li {
  margin: 0;
  padding: 0;
}
.outline-view ul a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 7px 10px;
}
.outline-view ul li.selected a {
  color: #fff;
  font-weight: bold;
  text-shadow: #666666 0 1px 1px;
}
.outline-view ul .selected {
  font-weight: bold;
  color: #fff;
  background-color: #8897ba;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2bed7), to(#8897ba));
  background: -moz-linear-gradient(top, #b2bed7, #8897ba);
}
.outline-view a:hover {
  background-color: #f0f0f0 !important;
}
.outline-view a {
  outline: none;
}
.content-divider {
  position: absolute;
  left: 250px;
  background-color: #999;
  width: 2px;
  margin: 0;
  padding: 0;
  cursor: e-resize;
  cursor: col-resize;
}
.content {
  position: absolute;
  left: 251px;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}
ul.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f6f6f6 url('/images/glass.png') repeat-x 50% 50%;
  height: 30px;
  border-top: 1px solid #c5c5c5;
  position: absolute;
  left: 0;
  bottom: 0;
}
ul.toolbar li {
  float: left;
  border-right: 1px solid #c5c5c5;
}
ul.toolbar li.right {
  float: right;
  border-left: 1px solid #c5c5c5;
}
ul.toolbar a {
  display: block;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #F5F4F5;
  color: #5A5A5A;
  font-weight: bold !important;
  width: 14px;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
}
ul.toolbar a:active {
  background-color: #9c9c9c;
  border-color: #9c9c9c;
}
ul.toolbar a {
  text-shadow: #fff 0 1px 0;
  text-decoration: none;
}
#editor-container {
  float: right;
  width: 100%;
}
#editor {
  border: none;
  outline: none;
  font-size: 108%;
  float: right;
}
#controls {
  position: absolute;
  left: 252px;
  bottom: 0;
  height: 30px;
  border-top: 1px solid #c5c5c5;
  background: #f6f6f6 url('/images/glass.png') repeat-x 50% 50%;
}
#save-button {
  font-size: 13px;
  width: 44px;
}
