.page
  h2 Log In
  p
    a.button(href='/users/new') Create an account &rarr;
  form.users#login(method='post', action='/sessions')
    !=partial('../users/fields', { locals: { user: user } })
    div
      label(for='remember_me') Remember me:
      input#remember_me(type='checkbox', name='remember_me')
    div
      input(type='submit', value='Log In')

